@layer components {

    .hexagonal-button {
      width: 190px;
      height: 36px;
      background-color: #FED44C;
      color: #000000;
      border: none;
      margin: 5px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .hexagonal-button:before,
    .hexagonal-button:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 95px solid transparent;
      border-right: 95px solid transparent;
    }
  
    .hexagonal-button:before {
      bottom: 100%;
      border-bottom: 52px solid #FED44C;
    }
  
    .hexagonal-button:after {
      top: 100%;
      width: 0;
      border-top: 52px solid #FED44C;
    }
  
  }